<?xml version="1.0"?>
<launch>
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find rise_assembler_control)/config/abb_irb120/joint_state_controller.yaml" command="load" />
    <node name="irb120_joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" output="screen" args="spawn irb120_joint_state_controller" />
    <rosparam file="$(find rise_assembler_control)/config/abb_irb120/irb120_control.yaml" command="load" />
    <node name="abb_irb120_controller_spawner" pkg="controller_manager" type="controller_manager" output="screen" args="spawn irb120_trajectory_controller" />

    <!-- load the controllers -->
</launch>
